/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body {
    background-color: #FBC02D;
}


footer {
    background-color: #10174C;
    padding: 40px;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    overflow: hidden;
}

main {
    display: flex;
    min-width: 850px;
}

section {
    width: 50%;
    position: relative;
    overflow: hidden;
    padding-top: 32px;
    padding-left: 80px;
}

.preview {

}

.screenshot {
    width: 1200px;
    position: absolute;
    right: 57px;
}

.widget {
    position: absolute;
    width: 217px;
    right: 18px;
    top: 103px;
    transition: 750ms all;
}
    .widget.before{
        opacity: 0;
        transform: translateY(20px);
    }

.content {
    padding-right: 32px;
}

.title {
    margin: 0 0 32px 0;
}

.title img {
    transform: translateX(-205px);
}

.subtitle {
    font-size: 24px;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    max-width: 320px;
    margin-bottom: 40px;
}

p {

}

.chromeLink {
    display: block;
    max-width: 320px;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 32px;
    transition: transform 240ms;
}

    .chromeLink:hover,
    .tweetLink:hover {
        transform: translateY(-4px);
    }

.chromeLink img,
.tweetLink img {
    width: 100%;
}

.tweetLink {
    display: block;
    margin-bottom: 32px;
    max-width: 320px;
    transition: transform 240ms;
}


.credits {
    float: right;
    color: white;
    list-style: none;
    font-size: 13px;
    margin: 8px 0;
}

.credits a {
    color: white;
    font-weight: bold;
}

.credits a:hover {
    text-decoration: none;
    color: #FBC02D;
}













































/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}